#DropDownMenu
{
    overflow: hidden;
    background-color: goldenrod;
    margin: 0;
    width: 100%;
	padding: 0;
	z-index: 30}

#DropDownMenu li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#DropDownMenu li a
{	display: flex;
	margin: 0 1px 0 0;
	padding: 10px 40px;
	width: 100px;
	/* background: #5970B2; */
	color: #FFF;
	text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

#DropDownMenu li a:hover
{	background: #a80c3b;
    color: goldenrod;
    
}

#DropDownMenu section
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

#DropDownMenu section a
{	position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #2875DE;
    font: 11px arial}

#DropDownMenu section a:hover
{	background: #49A3FF;
    color: #FFF}
