@media(min-width:768px){

    body {
        margin: 0;
        /*font-family: Times, Helvetica, sans-serif;*/
        color: rgb(114, 36, 68) ; 
        background-color:rgb(255, 236, 242) ;
        padding: 0;
        background-image: url("../images/blogs.jpg"); 
        background-size: cover;
       
    }
    .container{
        display: flex;
        padding: 50px;
        align-items: center;
    }
    .mainbox{
        width: 70%;
        padding: 20px;
        display: flex;
        flex: 10;
        flex-direction: column;
        align-items: center;
        background-color: rgba(24, 11, 16, 0.911);
        border: 1px rgb(133, 6, 69) solid;
    }
    .blogsbox{
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 50%;
        /* background-color: rgba(247, 221, 137, 0.548); */

    }
    .blogsbox h1{
        display: flex;
        padding:20px;
        width: 100px;
        height: 50px;
        border:1px rgb(219, 172, 18) solid;
        font-size: x-large;
        background-color: rgba(119, 7, 76, 0.87);
        color:  rgb(236, 197, 217);


    }
    .blogsbox ol{
        /* border: 1px rgb(209, 36, 151) solid; */
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 4;

    }
    .blogsbox ol li{
        display: flex;
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 20px;
        background-color: rgba(119, 7, 76, 0.87);
        align-items: center;
        border: 1px rgb(219, 172, 18) solid;
        box-shadow: 2px 2px 5px rgba(231, 180, 12, 0.685);

    }
    .blogsbox ol:hover{
        background-color: radial-gradient(rgb(255, 155, 180),rgb(172, 30, 96));
    }
    .blogsbox ol li:hover{
        background: linear-gradient(rgba(155, 20, 83, 0.76),rgba(255, 248, 251, 0.705));
        color: rgb(119, 0, 60);
        box-shadow: 7px 7px 10px rgba(231, 180, 12, 0.685);
        text-shadow: black;
    }
    .blogsbox ol li p a{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        font-weight: 300;
        color: rgb(236, 197, 217);
        text-transform: uppercase;
    }
   
    .futureblogs{
        display: flex;
        width: 50%;
        flex-direction: column;
        /* text-align: center; */
        align-items: center;
        color: rgb(70, 1, 41);
        background-color:  rgba(255, 220, 104, 0.548);
        border:1px rgb(219, 172, 18) solid;
    }
    .Blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        font-size: large;
    }
    .Blog p{
        background-color: rgba(59, 0, 33, 0.253);
    }

    .navmenu{
        display: flex;
        width: 100%;
        font-size: large;
        flex-direction: column;
        background-color: rgba(117, 14, 71, 0.685);
        color:antiquewhite;
        align-items: center;
    }
    .navmenu a{
        color: antiquewhite;
    }
    .navmenu a:hover{
        background: linear-gradient(rgb(112, 2, 63), rgba(255, 0, 98, 0.575));
    }
    .Webpage iframe{
        background-color: white;
        border: 1.5px solid rgb(224, 35, 107);
    }


}