@media(min-width:768px){
   
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(114, 36, 68) ; 
  background-color:rgb(255, 236, 242) ;
  padding: 0;
}
nav{
  display: flex;
  flex-direction: column;
    width: 240px;
    /* background-color: rgba(165, 56, 83, 0.603); */
    background: linear-gradient(rgb(37, 30, 30), rgb(112, 57, 78));
    border: 3px #da8517b2 solid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}
nav img{
  display: flex;
  /* border: 1px rgb(247, 125, 165) solid; */
  border-radius: 110%;
  
  width: 80%;
  margin: 10px auto;
  padding-top: 30px;

}
nav ul{
  width: 75%;
  padding-left: 30px;
  padding-top: 60px;
  

}
nav ul li{
  /* border: 10px rgb(172, 71, 104) solid;  */
  border: 10px rgb(114, 5, 32) solid;
  padding: 25px;
  text-align: center;
  list-style: none;
  padding: 4px 0px;
   background-color: rgb(255, 170, 199);
}
nav ul li:hover{
  background: radial-gradient( rgb(255, 155, 180),rgb(172, 30, 96));
  text-shadow: rgb(196, 196, 196);
  border-bottom: 1.5px rgb(0, 0, 0) solid;
  border-top: 1.5PX black solid;
  
}


nav ul li a{
  
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-weight: 300;
  color: rgb(92, 0, 46);
  text-transform: uppercase;
}
nav ul li a:hover{
  text-shadow: white;

}

#toggleMenu {
  width: 50px;
  height: 50px;
  background-color: rgba(182, 28, 87, 0.329);
  background-image: url(../images/icons/icons8-menu-256.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1050;
  cursor: pointer;
  /*border: 10px solid #3a0012;*/
  /*border-radius: 2px ;*/
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
}
#toggleMenu :hover {
  opacity: 5;
}

/* .Header{
  background-color:rgb(172, 124, 138);
  text-align: center;
  padding: 0.5px ;
  text-decoration-color:  rgb(114, 36, 68) ;
  
  /*font-size:   20px ;
  font-style: oblique 60deg ;


}

.MenuBar {
  overflow: hidden;
  background-color: rgb(158, 70, 95);
  text-align: center;
}

.MenuBar a {
  float: left;
  color: #3a0012;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
}

.MenuBar a:hover {
  background-color: #fca2c8;
  color: black;
}

.MenuBar a.active {
  background-color: rgb(114, 36, 68);
  color: rgb(196, 196, 196);
}

 */


/* FLEX BOX LAYOUT */

}

#DropDownMenu
{
    overflow: hidden;
    background-color: rgba(68, 5, 37, 0.397);
    margin: 0;
    width: 100%;
	padding: 0;
	z-index: 30}

#DropDownMenu li
{	
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
    font: bold 11px arial}

#DropDownMenu li a
{	display: flex;
	margin: 0 1px 0 0;
	padding: 10px 40px;
	width: 100px;
	/* background: #5970B2; */
	color: rgb(255, 199, 221);
	text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

#DropDownMenu li a:hover
{	background: linear-gradient(rgba(85, 6, 55, 0.582),rgb(241, 148, 187));
    color: goldenrod;
    
}

#DropDownMenu section
{	
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  width: 300px;
	margin: 0;
	padding: 1px;
	background: #410528;
  border: 1px solid #d4a50b;
  color: #fca7c8;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

  

#DropDownMenu section a
{	
  position: top;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #9c1f6425;
    color: #f79bc1;
    font-size: 15px;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

#DropDownMenu section a:hover
{	background: radial-gradient( rgb(65, 3, 32),rgb(129, 82, 105));
    color: rgb(233, 154, 35)}
.active{
  background:linear-gradient(#e9a1c5,rgb(99, 16, 44));
}


.submit{
  width:700px;
  max-width: 600px;
  background: rgb(248, 175, 212);
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgb(221, 157, 18);
}
.submit h3{
  margin-top: 0 ;
  font-weight: 200;
  font-size: 50px;

}
.text{
  border: 1px solid goldenrod ;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 10px;
  background: rgb(109, 16, 44);
}
.text label{
  display: flex;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px ;

}
.text input{
  border: none;
  border-radius: 5px;
  background: rgb(238, 140, 181);
  padding: 10px;
  color: black;
  width: 80%;
  outline: none;
  font-size: 16px;
  margin-top: 5px;

  
}
.text textarea{
  background:rgb(238, 140, 181);
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
  

}

.Submitbutton{
  display: inline-block;
  background: rgba(82, 1, 37, 0.822);
  padding: 14px 0;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(156, 13, 68, 0.527);

}
