body {
    margin: 0;
    font-family: Times, Helvetica, sans-serif;
  }
  
  .MenuBar {
    overflow: hidden;
    background-color: rgb(172, 124, 138);
  }
  
  .MenuBar a {
    float: left;
    color: #6d0625;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .MenuBar a:hover {
    background-color: #fca2c8;
    color: black;
  }
  
  .MenuBar a.active {
    background-color: rgb(114, 36, 68);
    color: rgb(196, 196, 196);
  }