@media(min-width:768px){

    body {
        margin: 0;
        /*font-family: Times, Helvetica, sans-serif;*/
        color: rgb(114, 36, 68) ; 
        background-color:rgb(255, 236, 242) ;
        padding: 0;
        background-image: url("../images/plant-with-flowers-2710494.jpg"); 
        background-size: cover;
       
    }

    .container{
        display: flex;
        padding: 50px;
        align-items: center;
    }
    .maincontainer{
        width: 70%;
        padding: 20px;
        display: flex;
        flex: 10;
        flex-direction: column;
        align-items: center;
        background-color: rgba(172, 35, 87, 0.479);
    }
    .poemsbox{
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 50%;
    }
    .poemsbox h1{
        display: flex;
        padding:20px;
        width: 100px;
        height: 50px;
        border:1px rgb(219, 172, 18) solid;
        font-size: x-large;
        background-color: rgba(119, 7, 76, 0.87);
        color:  rgb(236, 197, 217);
    }
    .poemsbox ul{
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 4;
    }
    .poemsbox ul li{
        display: flex;
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 20px;
        background-color: rgba(119, 7, 76, 0.87);
        align-items: center;
        border: 1px rgb(219, 172, 18) solid;
    }
    .poemsbox ul li a{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        font-weight: 300;
        color: rgb(236, 197, 217);
        text-transform: uppercase;
    }
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }
    .main{
        display:  flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: aliceblue;
        font-size: large;
        background-color: rgba(150, 35, 60, 0.589);
        border: 1px solid rgb(211, 174, 12);
    }
    .poemtext{
        padding: 10px;
    }
    .poemtext h1{
        font-size: xx-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    .navmenu{
        color: white;
        background-color: rgb(136, 11, 59);
        padding: 10px;
        width: 75%;
    }
    .navmenu a{
        color: beige;
    }
    .navmenu :hover{
        background: radial-gradient(rgb(114, 2, 54) , rgb(163, 39, 76), rgb(231, 116, 164));
    }


}
