@media(min-width:768px){

    body {
        margin: 0;
        /*font-family: Times, Helvetica, sans-serif;*/
        color: rgb(114, 36, 68) ; 
        /* background-color:rgb(255, 236, 242) ; */
        padding: 0;
        background-size: cover;
        background: linear-gradient(rgb(43, 6, 26), rgb(15, 14, 15));
        
    }
    .container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        padding: 30px;
        
       
    }
    .mainbox{
        display: flex;
        flex: 1;
        align-items: center;
        width: 75%;
        border: 1px solid rgb(228, 162, 40) ;
        background: linear-gradient(rgba(78, 3, 49, 0.658), rgba(212, 37, 124, 0.548));
        padding: 10px;
    }
    .box{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .box h1{
        font-size: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        border: 1px solid rgb(228, 162, 40);
        
    }
    .layout{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px;

    }
    .layout img{
        display: flex;
        flex:0.5;
        padding: 20px;
        width: 25%;
        height: 25%;
    }

    .Slideshow{
        display: flex;
        min-width: 300px;
        max-width: 300px;
        background-color: goldenrod;
    }

.container-slide{
    width: 60%;
    margin: auto;
    border: 5px solid red;
     overflow: hidden;
     position: relative;
}
.slide{
    display: flex;
    width: 135%;
    height: 30%;
}
.slide img{
    width: 76%;
    height: 30%;
}

#prev{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    /* opacity: 0.8; */
    cursor: pointer;
}
#next{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    /* opacity: 0.8; */
    cursor: pointer;
}
}